* {
  font-family: "Roboto", sans-serif;
}
* a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0px;
}

@media screen and (max-width: 768px) {
  .header {
    height: 63px;
  }
  .header__logo {
    width: 197px;
    display: flex;
    padding-left: 86px;
    padding-top: 14px;
  }
  .search-bar {
    position: relative;
  }
  .search-bar input {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 17px;
    background-color: #EAEAEA;
    border: none;
    font-weight: 500;
    font-size: 1.1875rem;
    text-align: center;
    color: #353535;
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.13) inset;
  }
  .search-bar__icon {
    color: #353535;
    width: 12px;
    height: 16px;
    position: absolute;
    left: 119px;
    top: 17px;
  }
  .intro {
    width: 100%;
    background-color: #F6F6F6;
    text-align: center;
    padding-top: 39px;
    padding-bottom: 57px;
  }
  .intro__title {
    font-weight: 700;
    font-size: 1.5rem;
  }
  .intro__txt {
    font-weight: 300;
    font-size: 1.125rem;
    margin-bottom: 27px;
  }
  .intro__button {
    height: 50px;
    width: 218px;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    background: #9356DC;
    border: none;
    border-radius: 25px;
    background: linear-gradient(0deg, #9356DC 30%, #FF79DA 100%);
    box-shadow: 0px 11px 13px 6px rgba(0, 0, 0, 0.13);
  }
  .fonctionnement {
    margin-top: 48px;
    margin-bottom: 68px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .fonctionnement__title {
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 26px;
    margin: 0px;
  }
  .fonctionnement__cards--card {
    display: flex;
    position: relative;
    height: 73px;
    width: 323px;
    margin-left: 12px;
    margin-bottom: 17px;
    border-radius: 20px;
    background-color: #F6F6F6;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  }
  .fonctionnement__cards--num {
    display: flex;
    background-color: #9356DC;
    color: white;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    position: absolute;
    top: 25px;
    left: -12px;
  }
  .fonctionnement__cards--icon {
    color: #7E7E7E;
  }
  .fonctionnement__cards--txt {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .restaurants {
    width: 100%;
    padding-left: 20px;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
  }
  .restaurants__title {
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 15px;
    padding-top: 54px;
    margin: 0px;
  }
  .restaurants__cards {
    gap: 18px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .restaurants__cards--card {
    margin-bottom: 18px;
    width: 340px;
    height: 251px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 18px 10px rgba(0, 0, 0, 0.13);
    position: relative;
    overflow: hidden;
  }
  .restaurants__cards--card--img {
    height: 174px;
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
  }
  .restaurants__cards--card--new {
    font-weight: 500;
    font-size: 0.875rem;
    color: #008766;
    background-color: #99e2d0;
    width: 80px;
    height: 29px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 0px;
    right: 15px;
  }
  .restaurants__cards--card--title {
    font-weight: 700;
    font-size: 1.125rem;
    margin: 0px;
    padding-top: 16px;
    padding-left: 13px;
  }
  .restaurants__cards--card--txt {
    font-weight: 300;
    font-size: 1.0625rem;
    margin: 0px;
    padding-top: 5px;
    padding-left: 13px;
  }
  .restaurants__cards--card--fav {
    position: absolute;
    bottom: 33px;
    right: 25px;
  }
  .restaurants__cards--card--favd {
    display: none;
    position: absolute;
    bottom: 33px;
    right: 25px;
  }
  .restaurants__cards--card--fav:active {
    display: none;
  }
  .restaurants__cards--card--favd:active {
    display: unset;
  }
  .footer {
    background-color: #353535;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 22px;
    gap: 16px;
  }
  .footer__logo {
    font-weight: 400;
    font-size: 1.125rem;
    font-family: "Shrikhand", serif;
    color: white;
  }
  .footer__links {
    flex-direction: column;
    gap: 7px;
    font-weight: 400;
    font-size: 1rem;
  }
  .footer__links a {
    color: white;
  }
}/*# sourceMappingURL=styles.css.map */