.footer {
    background-color: $grey;
    display: flex;
    flex-direction: column;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 22px;
    gap: 16px;

    &__logo {
        font-weight: 400;
        font-size: 1.125rem;
        font-family: $logo-font;
        color: white;
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: 7px;
        font-weight: 500;
        font-size: 1rem;

        &--link--sub {
            display: flex;
            font-weight: 200;
            flex-direction: column;
            gap: 7px;
        }

        a {
            color: white;
        }
    }
}

@media screen and (min-width: 769px) {
    .footer {
        flex-direction: row-reverse;
        align-items: center;
        padding-right: 67px;

        &__logo {
            display: flex;
            justify-content: flex-end;
        }

        &__links {
            flex-direction: row;

            &--link {
                width: 190px;
                justify-content: space-between;
            }


            &--link--sub {
                flex-direction: row;
                width: 130px;
                justify-content: space-between;
            }
        }
    }
}