.footer {
    background-color: $grey;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 22px;
    gap: 16px;

    &__logo {
        font: 400 1.125rem $logo-font, white;
    }

    &__links {
        flex-direction: column;
        gap: 7px;
        font: 400 1rem;

        a {
            color: white;
        }
    }
}