.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 17px;
    height: 63px;
    position: relative;

    &__nav {

        &--back {
            position: absolute;
            width: 30px;
            height: 30px;
            color: $grey;
            top: 17px;
            left: 17px;
            display: flex;
            align-items: center;
        }
    }

    &__logo {
        display: flex;
        justify-content: center;
        width: 162px;
    }
}

@media screen and (min-width: 769px) {
.header {
    height: 96px;

    &__logo {
        width: 200px;
    }
}
}