.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 17px;
    height: 63px;
    position: relative;
    box-shadow: 0px 2px 4px 0px #00000026;


    &__nav {

        &--back {
            position: absolute;
            width: 30px;
            height: 30px;
            color: $grey;
            left: 17px;
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    &__logo {
        display: flex;
        justify-content: center;
        width: 162px;
    }
}

@media screen and (min-width: 769px) {
.header {
    height: 96px;

    &__logo {
        width: 200px;
    }
}
}